/*Form página index*/
.f1 {
	font-family: arial, sans-serif;
	width: 47%;
  margin:auto;
}

/*Form página login*/
.f2 {
	font-family: arial, sans-serif;
	width: 26%;
  margin: auto;
  text-align: center;
}

/*Fieldset Crear ride*/
.f3 {
	font-family: arial, sans-serif;
	width: 50%;
  margin: auto;
}

/*Input form registro*/
.input{
	width: 50%;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=submit]{
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: auto;
}

href{
	text-decoration: none;
	color: black;
}

p{
	font-family: arial, sans-serif;
	text-align: center;
}

body {
	background-color: white;
}

/*Imagen principal*/
.img1 {
	display: block;
	margin: auto;
}

/*BOTONES*/
.button{
	text-decoration:none;
	background-color: #4CAF50;
	color: white; /*Color de letra*/
	text-decoration:none;
	font-family: arial, sans-serif;
	text-align: center;
	cursor: pointer;
	border: none;
}

/*Boton editar en dashboard*/
.b {
	text-decoration: none;
	background-color: #4CAF50;
	border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Boton eliminar en dashboard*/
.bt {
	background-color: red;
	text-decoration: none;
	border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

/*Botón index buscar ride, acceder en login y otros*/
.b1 {
	display: inline-block;
	padding: 10px; /*Ancho del cuadro*/
  font-size: 18px; /*Tamaño de letra*/
  margin: 5px;
}

/*Botones de gardar y cancelar en crearride*/
.b6 {
	display: inline-block;
	padding: 10px; /*Ancho del cuadro*/
  font-size: 18px; /*Tamaño de letra*/
  margin: 5px;;
  position: relative;
  left: 70%;
}

/*Botón ingresar en index*/
.b5 {
	font-size:18px;
	padding: 10px; /*Ancho del cuadro*/
	margin: 5px;
	position: absolute; /*posiciona el botón donde se encuentra*/
}

/*Tablas*/
/*Tabla página principal*/
.t1 {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
	margin: auto; /*Pone la tabla en el centro de la página*/
}

.t2 {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;

}
th,td {
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
	border-color: #000000;
}

tr: nth-child(even) {
	background-color: #dddddd;
}

.fc1 {
	width: 26%;
  margin: auto;
}

.container {
	text-align: right;
	width: 1200px;
  	margin: 10px;
}

/*Menú*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /*muestra la barra del menú*/
  background-color: #333; /*Color de la barra del menú*/
	font-family: arial, sans-serif;

}

li {
  float: left; /*Acomoda el menú horizontalmente*/
  border-right:1px solid #bbb; /*Lineas divisorias*/
}

/*Línea al último elemento de la lista*/
li:last-child {
  border-right: 1px solid #bbb;
}

/*Línea al primer elemento de la lista*/
li:first-child {
  border-left: : 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50; /*Color al elemento de la lista que se encuentra activo*/
	margin-left: 530px;
}
